# **Homework 1: Docker, SQL and Terraform for Data Engineering Zoomcamp 2025**

In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv("sample_data/green_tripdata_2019-10.csv.gz")

# Display the first few rows
print(df.head())

# Ensure that the date column is in datetime format
df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])

<ipython-input-6-0fbd6207b8ea>:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("sample_data/green_tripdata_2019-10.csv.gz")

   VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
0       2.0  2019-10-01 00:26:02   2019-10-01 00:39:58                  N
1       1.0  2019-10-01 00:18:11   2019-10-01 00:22:38                  N
2       1.0  2019-10-01 00:09:31   2019-10-01 00:24:47                  N
3       1.0  2019-10-01 00:37:40   2019-10-01 00:41:49                  N
4       2.0  2019-10-01 00:08:13   2019-10-01 00:17:56                  N

   RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
0         1.0           112           196              1.0           5.88
1         1.0            43           263              1.0           0.80
2         1.0           255           228              2.0           7.50
3         1.0           181           181              1.0           0.90
4         1.0            97           188              1.0           2.52

   fare_amount  extra  mta_tax  tip_amount  tolls_amount  ehail_fee  \
0         18.0   0.50      0.5        0.00           0.0        NaN
1          5.0   3.25      0.5        0.00           0.0        NaN
2         21.5   0.50      0.5        0.00           0.0        NaN
3          5.5   0.50      0.5        0.00           0.0        NaN
4         10.0   0.50      0.5        2.26           0.0        NaN

   improvement_surcharge  total_amount  payment_type  trip_type  \
0                    0.3         19.30           2.0        1.0
1                    0.3          9.05           2.0        1.0
2                    0.3         22.80           2.0        1.0
3                    0.3          6.80           2.0        1.0
4                    0.3         13.56           1.0        1.0

   congestion_surcharge
0                   0.0
1                   0.0
2                   0.0
3                   0.0
4                   0.0

In [ ]:
start_date = "2019-10-01"
end_date = "2019-11-01"

df_filtered = df[(df['lpep_pickup_datetime'] >= start_date) & (df['lpep_pickup_datetime'] < end_date)]

In [ ]:
# Categorize by distance
up_to_1_mile = df_filtered[df_filtered['trip_distance'] <= 1]
between_1_and_3_miles = df_filtered[(df_filtered['trip_distance'] > 1) & (df_filtered['trip_distance'] <= 3)]
between_3_and_7_miles = df_filtered[(df_filtered['trip_distance'] > 3) & (df_filtered['trip_distance'] <= 7)]
between_7_and_10_miles = df_filtered[(df_filtered['trip_distance'] > 7) & (df_filtered['trip_distance'] <= 10)]
over_10_miles = df_filtered[df_filtered['trip_distance'] > 10]

In [ ]:
count_up_to_1_mile = len(up_to_1_mile)
count_1_to_3_miles = len(between_1_and_3_miles)
count_3_to_7_miles = len(between_3_and_7_miles)
count_7_to_10_miles = len(between_7_and_10_miles)
count_over_10_miles = len(over_10_miles)

print(count_up_to_1_mile, count_1_to_3_miles, count_3_to_7_miles, count_7_to_10_miles, count_over_10_miles)

104830 198995 109642 27686 35201

In [ ]:
# Extract the date from the pickup_datetime column
df['lpep_pickup_datetime'] = df['lpep_pickup_datetime'].dt.date

# Find the longest trip distance for each day
longest_trip_per_day = df.groupby('lpep_pickup_datetime')['trip_distance'].max()

In [ ]:
# Find the date with the longest trip distance
longest_trip_day = longest_trip_per_day.idxmax()
longest_trip_day_distance = longest_trip_per_day.max()

print(longest_trip_day, longest_trip_day_distance)

2019-10-31 515.89

In [ ]:
# Ensure the lpep_pickup_datetime column is in datetime format
df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])

In [ ]:
# Filter for trips that happened on 2019-10-18
df_filtered = df[df['lpep_pickup_datetime'].dt.date == pd.to_datetime('2019-10-18').date()]

In [ ]:
# Group by pickup zone and sum total_amount
pickup_zone_totals = df_filtered.groupby('PULocationID')['total_amount'].sum()

# Filter zones with total_amount over 13,000
filtered_zones = pickup_zone_totals[pickup_zone_totals > 13000]

In [ ]:
# Sort the zones by total_amount in descending order
top_zones = filtered_zones.sort_values(ascending=False).head(3)

# Print the top three pickup zones
print(top_zones)

PULocationID
74     18686.68
75     16797.26
166    13029.79
Name: total_amount, dtype: float64

In [ ]:
# Filter for October 2019 and East Harlem North pickup zone
df_filtered_x = df[(df['PULocationID'] == 74) &
                 (df['lpep_pickup_datetime'].dt.month == 10) &
                 (df['lpep_pickup_datetime'].dt.year == 2019)]

print(df_filtered_x)

        VendorID lpep_pickup_datetime lpep_dropoff_datetime  \
49           2.0           2019-10-01   2019-10-01 00:43:02
54           2.0           2019-10-01   2019-10-01 00:09:30
63           2.0           2019-10-01   2019-10-01 00:34:21
70           2.0           2019-10-01   2019-10-01 00:34:06
73           2.0           2019-10-01   2019-10-01 00:51:17
...          ...                  ...                   ...
475898       NaN           2019-10-31   2019-10-31 18:15:00
476027       NaN           2019-10-31   2019-10-31 18:21:00
476075       NaN           2019-10-31   2019-10-31 18:55:00
476108       NaN           2019-10-31   2019-10-31 18:55:00
476340       NaN           2019-10-31   2019-10-31 22:43:00

       store_and_fwd_flag  RatecodeID  PULocationID  DOLocationID  \
49                      N         1.0            74            74
54                      N         1.0            74           168
63                      N         1.0            74           168
70                      N         1.0            74            75
73                      N         1.0            74           239
...                   ...         ...           ...           ...
475898                NaN         NaN            74            71
476027                NaN         NaN            74            74
476075                NaN         NaN            74           116
476108                NaN         NaN            74            78
476340                NaN         NaN            74            39

        passenger_count  trip_distance  fare_amount  extra  mta_tax  \
49                  1.0           0.00         2.50   0.50      0.5
54                  1.0           1.31         6.50   0.50      0.5
63                  2.0           1.25         7.50   0.50      0.5
70                  1.0           0.83         4.50   0.50      0.5
73                  1.0           3.06        12.50   0.50      0.5
...                 ...            ...          ...    ...      ...
475898              NaN          15.20        42.12   2.75      0.5
476027              NaN           0.06        17.49   2.75      0.5
476075              NaN           3.64        17.49   2.75      0.5
476108              NaN           5.13        24.61   2.75      0.5
476340              NaN          21.20        36.73   2.75      0.5

        tip_amount  tolls_amount  ehail_fee  improvement_surcharge  \
49            35.0          0.00        NaN                    0.3
54             0.0          0.00        NaN                    0.3
63             0.0          0.00        NaN                    0.3
70             0.0          0.00        NaN                    0.3
73             0.0          0.00        NaN                    0.3
...            ...           ...        ...                    ...
475898         0.0          6.12        NaN                    0.0
476027         0.0          0.00        NaN                    0.0
476075         0.0          0.00        NaN                    0.0
476108         0.0          0.00        NaN                    0.0
476340         0.0          6.12        NaN                    0.0

        total_amount  payment_type  trip_type  congestion_surcharge
49             38.80           1.0        1.0                  0.00
54              7.80           1.0        1.0                  0.00
63              8.80           2.0        1.0                  0.00
70              5.80           2.0        1.0                  0.00
73             16.55           2.0        1.0                  2.75
...              ...           ...        ...                   ...
475898         51.49           NaN        NaN                   NaN
476027         20.74           NaN        NaN                   NaN
476075         20.74           NaN        NaN                   NaN
476108         27.86           NaN        NaN                   NaN
476340         46.10           NaN        NaN                   NaN

[37371 rows x 20 columns]

In [ ]:
# Group by dropoff zone and sum the tips
dropoff_zone_tips = df_filtered_x.groupby('DOLocationID')['tip_amount'].sum()

# Find the dropoff zone with the largest total tip
largest_tip_zone = dropoff_zone_tips.idxmax()
print(largest_tip_zone)

236

In [ ]:
# Group by dropoff zone and sum the tips
dropoff_zone_tips_x = df_filtered_x.groupby('PULocationID')['tip_amount'].sum()

# Find the dropoff zone with the largest total tip
largest_tip_zone_x = dropoff_zone_tips_x.idxmax()
print(largest_tip_zone_x)

74